body {
    background-color: #f5f5f5; /* add a light gray color */
    background-image: linear-gradient(to bottom right, #e0ffff, #f5f5dc); /* add a gradient */
    font-family: Arial, sans-serif;
  }
  
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  #symmetricalImage {
    margin-top: 50px;
  }
  
   canvas {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  