.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  .upload {
    margin-bottom: 30px;
  }
  
  .upload label {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #333333;
  }
  
  .upload #uploadedImage {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .symmetry-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  
  .symmetry-label {
    margin-right: 20px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #333333;
  }
  
  .radio-group {
    display: flex;
    flex-direction: row;
  }
  
  .radio-group label {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #333333;
  }
  
  .radio-group input[type="radio"] {
    display: none;
  }
  
  .radio-group input[type="radio"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 2px solid #4f4f4f;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
  }
  
  .radio-group input[type="radio"] + label::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #4f4f4f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .radio-group input[type="radio"]:checked + label::before {
    background-color: #f7f7f7;
  }
  
  button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #4f4f4f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result {
    margin-top: 30px;
  }
  
  .result img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  canvas {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
